@import "variables";

.answer {
    padding: 10px;
    border: 1px solid $grey;    
    border-radius: 5px;

    margin-bottom: 20px;

    cursor: pointer;

    &.correct {
        background-color: $grey;
        &:before {
            content: "✓ ";
        }
        &.chosen {
            color: darken($green, 60%);
            font-weight: bold;
            border-color: darken($green, 5%);
            background-color: $green;
        }
    }
    &.incorrect {
        color: darken($red, 60%);
        font-weight: bold;
        border-color: darken($red, 5%);
        background-color: $red;
        &:before {
            content: "✗ ";
        }
    }
}
