@import "variables";
$fade_time: 0.3s;

.flash {
    position: absolute;
    height: 100vh;
    width: 100vw;
    opacity: 0.6;
    transition: opacity $fade_time linear;

    &.incorrect {
        background-color: $red;
    }
    &.correct {
        background-color: $green;
    }

    &.fade {
        visibility: hidden;
        opacity: 0;
        transition: visibility 0s $fade_time, opacity $fade_time linear;
    }
    
    h1 {
        text-align: center;
        margin-top: 60vh;
        color: white;
    }
}