@import "variables";
$fade_time: 0.3s;

.flash {
    position: fixed;
    top: 0; 
    left: 0;
    display: flex;
    justify-content: center; /* horizontal centering */
    align-items: center;
    height: 102vh;
    width: 100%;
    opacity: 0.6;
    transition: opacity $fade_time linear;

    &.incorrect {
        background-color: $red;
    }
    &.correct {
        background-color: $green;
    }

    &.fade {
        visibility: hidden;
        opacity: 0;
        transition: visibility 0s $fade_time, opacity $fade_time linear;
    }
    
    h1 {
        text-align: center;
        color: white;
    }
}