
.example-enter {
  opacity: 0.01;
  margin-top: 20px;
}

.example-enter.example-enter-active {
  opacity: 1;
  margin-top: 40px;
  transition: opacity 500ms ease-in, margin-top 500ms ease-in-out;
}

.example-leave {
  opacity: 1;
}

.example-leave.example-leave-active {
  opacity: 0.01;
  transition: opacity 300ms ease-in;
}